
/*
	MegaCorp: A responsive HTML5 website template by HTML5Templates.com
	Released for free under the Creative Commons Attribution 3.0 license (html5templates.com/license)
	Visit http://html5templates.com for more great templates or follow us on Twitter @HTML5T
*/


/*********************************************************************************/
/* Global                                                                        */
/*********************************************************************************/

	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin-top: 2em;
		margin-bottom: 4em;
		padding: 0em;
		/*background: #101214 url(images/main-bg.png) repeat;*/
		font-family: 'Open Sans', sans-serif;
		font-size: 9.5pt;
		/*color: #686868;*/
	}
        
        h3 {
            padding: 0 0 1em 0;
        }
	
	h1, h2 {
		/*padding: 0 0 1em 0;*/
		font-weight: 300;
		/*color: #CFCFCF;*/
	}
	
	h2
	{
		letter-spacing: -1px;
		font-size: 2.00em;
	}

	p, ol, ul
	{
		/*margin-top: 1em;*/
	}
	
	p
	{
		line-height: 1.75em;
	}
	
	a
	{
		text-decoration: underline;
		color: #909090;
	}
	
	a:hover
	{
		text-decoration: none;
	}

/* Image Style 1 */

	.image-style1
	{
		display: block;
		width: 100%;
	}


	
/* Buttons Style 1 */

	.button
	{
		display: inline-block;
		margin-top: 2em;
		padding: 1.00em 1.50em;
		background: #2B8FC4;
		border-radius: 5px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.10em;
		color: #FFF;
	}
	
	.button-style1
	{
		display: inline-block;
		box-shadow: inset 1px 1px 1px #B5E5FF;
		text-shadow: 0px -1px 0px #024D74;
	}


/* List Style 1 */

	ul.style1
	{
	}
	
	ul.style1 li
	{
		padding: 0.75em 0 0.75em 0em;
		background: url(images/bullet-icon.png) no-repeat left 50%;
	}
	
	ul.style1 a
	{
		display: block;
		padding-left: 1.50em;
		text-decoration: none;
		color: #909090;
	}
	
	ul.style1 a:hover
	{
		text-decoration: underline;
	}

/* List Style 2 */

	ul.style2 {
		overflow: hidden;
		margin: 0em;
		padding: 0em;
		list-style: none;
	}
	
	ul.style2 li {
		clear: both;
		padding: 1em 0em 2em 0em;
		border-top: 1px solid #212124;
	}
	
	ul.style2 p
	{
		line-height: 2.20em;
	}
	
	ul.style2 a {
		text-decoration: none;
		color: #909090;
	}
	
	ul.style2 a:hover {
		text-decoration: underline;
	}
	
	
	ul.style2 img {
		float: left;
		margin-right: 1.5em;
		border-radius: 5px;
	}
	
	ul.style2 .first {
		padding-top: 0;
		border-top: none;
	}
	
/* List style 3 */

	ul.style3 {
		margin: 0em;
		padding: 0em 0em 0em 0em;
		list-style: none;
	}
	
	
	ul.style3 li {
		padding: 1.75em 0em 1.50em 0em;
		border-top: 1px solid #212124;
	}
	
	ul.style3 .heading-title {
		font-size: 1.10em;
		font-weight: bold;
		color: #B8B8B8;
	}
	
	ul.style3 .date {
		display: inline-block;
		margin: 0em 1em 1em 0em;
		text-transform: uppercase;
		font-size: .80em;
		background: #2B8FC4;
		border-radius: 5px;
		border: 1px solid #165272;
		box-shadow: 0px 1px 5px rgba(0,0,0,.4);
		color: #FFFFFF;
	}
	
	ul.style3 .date a
	{
		display: inline-block;
		padding: .5em 1em;
		letter-spacing: 1px;
		border-radius: 5px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.10em;
		font-weight: 400;
		color: #FFFFFF;
		box-shadow: inset 1px 1px 1px #B5E5FF;
	}

	ul.style3 a 
	{
		text-decoration: none;
		color: #909090;
	}
	
	ul.style3 a:hover 
	{
		text-decoration: underline;
	}
	
	ul.style3 .first {
		border-top: none;
	}

/* List style 4 */

	ul.style4 {
		overflow: hidden;
		margin: 0em;
		padding: 0em;
		list-style: none;
	}
	
	ul.style4 li {
		padding: 1.50em 0em 1.50em 0em;
		border-top: 1px solid #212124;
	}
	
	ul.style4 a {
		padding-left: 1em;
		background: url(images/list-bullet.png) no-repeat left 50%;
		text-decoration: none;
		color: #909090;
	}
	
	ul.style4 a:hover {
		text-decoration: underline;
		color: #868686;
	}
	
	ul.style4 h3
	{
		padding: 0 0 0.75em 0;
		font-size: 1.10em;
		font-weight: 700;
		color: #B8B8B8;
	}
	
	
	ul.style4 .first {
		padding-top: 0;
		border-top: none;
	}

/* List style 5 */

	ul.style5 
	{
		margin-left: 4em;
	}
	
	ul.style5 li
	{
		line-height: 1.75em;
		list-style: decimal;
	}

/* Header */

	#header-wrapper
	{
		overflow: hidden;
		/*background: #FFFFFF url(images/header-bg.png) repeat;*/
                /*background: #01573C url(images/bsm3.jpg) no-repeat ;*/
                background: #01573C;
	}

/* Banner */

	#banner
	{
		overflow: hidden;
		height: 41em;
		background: url(../images/pic01.png) no-repeat right top;
	}

	#banner h2
	{
		padding: 3em 0 0 0;
		letter-spacing: -2px;
		text-transform: uppercase;
		font-size: 3.75em;
		color: #101214;
	}

	#banner p
	{
		padding: 0 35em 0 0;
		font-size: 1.50em;
	}

/* Wrapper */

	#wrapper
	{
		/*padding: 5em 0em 3em 0em;*/
                padding: 1.5em 0em 3em 0em;
	}

/* Content */

	#content
	{
	}

	#content a img
	{
		display: block;
		
		border-radius: 5px;
	}

	#content .main-title
	{
		font-size: 3.00em;
	}

/* Sidebar */

	#sidebar
	{
	}

	#sidebar #box1
	{
		margin-bottom: 3em;
	}
	
	#sidebar #box2 .button
	{
		margin-top: 0;
	}
	
/* Two Column Area */

	#two-column
	{
		overflow: hidden;
		margin-top: 4em;
		padding: 4em 0em 0em 0em;
		border-top: 1px solid #212124;
	}

/* Featured Area */

	#featured-wrapper
	{
		overflow: hidden;
		padding: 4em 0em;
		background: url(images/featured-bg.png) repeat;
	}
	
	#featured-content
	{
		
	}

	#featured-content h2
	{
	}

	#featured-content img
	{
		float: left;
		margin: 0.85em 2em 0em 0em;
	}




/* Copyright */

	#copyright
	{
		overflow: hidden;
		padding: 3em 0em 6em 0em;
		border-top: 1px solid #212124;
		text-align: center;
	}
	
	#copyright p
	{
		font-size: 1em;
	}
	
	#copyright a
	{
		color: #949494;
	}
	
	#copyright a:hover
	{
		text-decoration: none;
	}







