<div>
    <?php
    echo $this->Form->create('user', array('action' => 'put'));
    ?>
    <div class="form-group">
    <label>User ID / Nomer HP Baru</label>
    <?php echo $this->Form->input('username',array('label'=>false,'size'=>20,'div'=>false,'class'=>'form-control','placeholder'=>'input User ID / Nomer HP'));?>
    </div>

    <div class="form-group">
    <label>password Baru</label>
    <?php  echo $this->Form->input('password',array('label'=>false,'size'=>20,'div'=>false,'class'=>'form-control','placeholder'=>'input password'));?>
    </div>

    <div>
        <button type="submit" class="btn btn-primary btn-block">Log in  <i class="icon-circle-right2 ml-2"></i></button>
    </div>
</div>

